<!--
    Elia Schwartz
    October 29, 2025,
    CEN 3024C -14877
    AddSetFromDatabase.html
    Purpose: This webpage is design for
    the user to enter a database path
    to establish a connection to the Lego Collection
    database to create/access their list.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddSetFromDatabase</title>
</head>

<body>
<h2>You are in the process of adding LEGO set(s) from a database to the system!</h2>

<p>Enter your database location/path to connect to a database:</p>

<div>
    <form th:id = "dbPath"  th:action = "@{/AddSetFromFile}"  th:object = "${AddSetFromFile}" method = "post">
        <label><input type = "text" name = "path" id = "path" placeholder = "Database Path"></label><br><br>
        <!--<pre id = "fileContent"></pre>-->
        <button th:type = "button">Return to the LEGO Menu</button>
        <input th:id = "connect" th:type = "submit" th:value = "Connect" >
    </form>
</div>


<!--<script>-->
<!--        const file = document.getElementById("file");-->
<!--        const fileContent = document.getElementById("fileContent");-->

<!--        file.addEventListener("change", function (event) {-->
<!--            const chosenFile = event.target.files[0];-->

<!--            if (chosenFile) {-->
<!--                const reader = new FileReader();-->

<!--                reader.onload = function (event) {-->
<!--                    const content = event.target.result;-->
<!--                    const lines = content.split(/\r?\n/);-->
<!--                    fileContent.textContent = lines.join('\n');-->
<!--                    localStorage.setItem("save", content);-->
<!--                    alert("File information is saved!")-->
<!--                    };-->

<!--                    reader.readAsText(chosenFile);-->
<!--                }-->
<!--            }-->
<!--        );-->
<!--        function addLegoByDB(){-->
<!--            document.getElementById("dbPath").addEventListener("click", function(event){-->
<!--                event.preventDefault();-->
<!--            })-->
<!--        }-->

<!--</script>-->

</body>

</html>
