<!--
    Elia Schwartz
    October 29, 2025,
    CEN 3024C -14877
    DisplaySet.html
    Purpose: This webpage is design
    for displays all the sets in list
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DisplaySet</title>
</head>
<body>

    <h2>See all the LEGO sets in your collection</h2>


<p th:id = "seeLego">

</p>
    <table id = "displaySetTable">
        <tr>
            <th>Set Number</th>
            <th>Name</th>
            <th>Theme</th>
            <th>Pieces</th>
            <th>Release Date</th>
            <th>Price</th>
        </tr>

        <tbody id = "legoSetTableBody">
        <tr th:each = "legoSet : ${present}">
            <td th:text = "${legoSet.SetNumber}"></td>
            <td th:text = "${legoSet.Name}"></td>
            <td th:text = "${legoSet.Theme}"></td>
            <td th:text = "${legoSet.Pieces}"></td>
            <td th:text = "${legoSet.ReleaseDate}"></td>
            <td th:text = "${legoSet.Price}"></td>

        </tr>
        </tbody>

    </table>
    <button type = "button" th:onclick = " |location.href = '@{/LEGOMenu}'| ">Return to the LEGO Menu</button>
</body>
</html>