<!--
    Elia Schwartz
    October 29, 2025,
    CEN 3024C -14877
    DisplaySet.html
    Purpose: This webpage is design
    for displays all the sets in list
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DisplaySet</title>
</head>
<body>

    <h2>See all the LEGO sets in your collection</h2>


<p th:id = "seeLego">

</p>

    <button type = "button" th:onclick = " |location.href = '@{/LEGOMenu}'| ">Return to the LEGO Menu</button>


    <table id = "displaySetTable">
        <tr>
            <th>Set Number</th>
            <th>Name</th>
            <th>Theme</th>
            <th>Pieces</th>
            <th>Release Date</th>
            <th>Price</th>
        </tr>

        <tr th:each = "legoSet : ${legoSets}">
            <td th:text = "${legoSet.SetNumber}"></td>
            <td th:text = "${legoSet.name}"></td>
            <td th:text = "${legoSet.theme}"></td>
            <td th:text = "${legoSet.pieces}"></td>
            <td th:text = "${legoSet.releaseDate}"></td>
            <td th:text = "${legoSet.price}"></td>

        </tr>
        <tbody id = "legoSetTableBody">

        </tbody>

    </table>


<script>
   const show = localStorage.getItem("save");
    const displayLego = JSON.parse(show);
 document.getElementById("seeLego").innerHTML = displayLego;

    if(!displayLego){
        console.log("Can't display the LEGO sets in the list!");
    }

  </script>
</body>
</html>