<!--
    Elia Schwartz
    October 29, 2025,
    CEN 3024C -14877
    Exit.html
    Purpose: This webpage asks the user
    if they want to exit the program or continue.
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exit</title>
</head>

<style>
    body{
        text-align: center;
    }
    button{
        align-content: center;
        background-color: teal;
        color: white;
        border: none;
        font-size: 15px;
        padding: 15px 20px;
        margin-left: 30px;
    }
</style>

<body>

<h1> Exit</h1>

<h3>Do you want to exit the program</h3>

<div>
    <button th:onclick = "|location.href = '@{/GoodBye}'|">Exit</button>
    <button th:onclick = " |location.href = '@{/LEGOMenu}'|">Return to Lego Menu</button>
</div>

</body>

</html>