<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exit</title>
</head>
<style>
    button{
        align-content: center;
        background-color: cornflowerblue;
        color: white;
        border: none;
        padding: 5px 10px;
    }
</style>
<body>
<h1> Exit</h1>
<h3>Do you want to exit the program</h3>

<div>
    <form>
        <button type = "submit" class = "button">Exit</button>
        <button type = "submit" class = "button">Return to Lego Menu</button>
    </form>
</div>

</body>
</html>