<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LEGO DMS Menu</title>
</head>

<style>
    .button-container button{
        display: block;
        margin-bottom: 20px;
        background-color: teal;
        color: white;
        border: none;
        padding: 10px;
        font-size: 16px;
    }

</style>
<body>
<h1>LEGO Menu</h1>
<p>Choose from one of the following actions:</p>
<div class = "button-container">
    <button onclick = "locatiion.href = '/AddSetFromFile' ">1. Add LEGO Set From File</button>
    <button onclick = "locatiion.href = '/AddSetManually' ">2. Add LEGO Set Manually</button>
    <button onclick = "locatiion.href = '/RemoveSet' ">3. Remove LEGO Set</button>
    <button onclick = "locatiion.href = '/DisplaySets' ">4. Display LEGO Sets</button>
    <button onclick = "locatiion.href = '/UpdateSet' ">5. Update LEGO Set</button>
    <button onclick = "locatiion.href = '/RetrieveTotalCost' ">6. Retrieve Total Cost of LEGO Sets</button>
    <button onclick = "locatiion.href = '/Exit' ">7. Exit</button>
</div>

</body>
</html>