<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RemoveSet</title>
</head>
<style>
    button{
        margin-right: 15px;
        margin-top: 15px;
    }
</style>
<body>
<h2>
    You are in the process of removing a set from the collection
</h2>

<div>
    <form>
        <label>
            Please enter the LEGO set name you wish to remove and everything associated with it:
        </label>
        <br>
        <input type = "text" id = "setName" name = "setName"
               placeholder = "Enter the LEGO name" />

        <br>
        <button type = "submit" class = "button"> Submit</button>
        <button type = "reset" class = "button"> Clear</button>

    </form>
</div>

</body>
</html>