<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpdateSet</title>
</head>

<body>
<h2>
    You are in the process of updating a LEGO set
</h2>
<div>
    <form>

        <label>
            Choose what Lego attribute would you like to update?
        </label>
        <br>
        <input type = "radio" id = "set number" name = "lego_attribute" value ="Set Number">
        <lable for = "set number">Set Number</lable><br>

        <input type = "radio" id = "lego name" name = "lego_attribute" value ="LEGO Name">
        <lable for = "lego name">Lego Name</lable><br>

        <input type = "radio" id = "lego theme" name = "lego_attribute" value ="LEGO Theme">
        <lable for = "lego theme">Lego Theme</lable><br>

        <input type = "radio" id = "lego pieces" name = "lego_attribute" value ="Lego Pieces">
        <lable for = "lego pieces">Lego Pieces</lable><br>

        <input type = "radio" id = "lego release date" name = "lego_attribute"
               value = "Release Date" placeholder = "lego Release Date">
        <lable for = "lego release date">Lego Release Date</lable><br>

        <input type = "radio" id = "lego price" name = "lego_attribute" value ="Lego Price">
        <lable for = "lego price">Lego Price</lable><br><br>

        <button class = "bigButton" type = "submit">Submit</button>
    </form>
</div>
</body>
</html>